body{
    background-color: rgb(20, 15, 48);
    text-decoration: none;
}

.logo{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 10px;
    color: rgb(110, 101, 101);
    
}
/* navbar */
.nav-bar{
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 0px 0px 0px;
    justify-content: center;
}


a.nav-link{
    color: black !important;
}

.navbar-brand{
    font-weight: bolder;
    font-size: 25px;
}

.navbar{
  padding: 10px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* LOGO-DESIGN */

.logo-design{
    color: green;
}
.logo-design2{
    color: red;
}
.logo-design3{
    color: blue;
}

img{
    width: 100%;

}

.FSR{
    margin-top: 200px;
    font-family: fantasy;
    font-size: 30px;
    color: white;
    margin-bottom: 200px;
    
}

.FSR:hover{
    background-color: rgb(161, 73, 116)
}

.carousel-item{ 
    height: 10%;
    margin-top: 20px;

}

.catalog{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
   color: white;   
   margin-bottom: 50px;
   text-decoration: none;
     
}

.catalog1{
    margin-bottom: 70px;
    text-decoration: none;
}

.catalogmain{
    text-decoration: none;
    

}

.catalogmain{
    margin-bottom: 70px;

}

.carousel-inner{
    margin: 40px 0px 100px 0px;
    
}

.aside{
    margin-top: 150px;
}

hr{
    color: white;
}

h3{
    font-weight: bolder;
    text-align: center;
    color: white;
    margin-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;

}
h4{
    font-weight: bolder;
    text-align: center;
    color: white;
    
}

h5{
    color: white;
}

.catalog{
    color: white;
    padding-top: 10px; 
}

.feedform{
    background-color: rgb(126, 51, 24);
    padding-bottom: 15px;
}

.feedback2{
    margin-top: 50px
}

.award{
    height: 800px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center; 
}

hr{
    color: violet;
}

footer{
    margin-top: 200px;
    background-color: teal;
    padding:10px ;
    
}

.about{
    margin-top: 20px;
}

a{
    color: white;
}

.mainfeed{
    margin-top: 100px;
    
    
}

.feedform2{
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(100, 47, 30)
}

.search{
    margin-top: 40px
}

.form-group{
    padding-top: 10px;
}

.contact{
    margin-top: 100px;
}

.fsr-aside{
    margin-top: 100px;
    font-size: 30px;

}

b{
    color: white;
    padding: 10px;
}

.maincontact{
    margin: 20px 0px 40px 0px;
}

.aside-contact{
    background-color: rgb(102, 33, 8);
    padding: 20px;
}

.main-catalog1{
    padding: 20px;
    margin-top: 100px;
}

.main-catalog{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
   

}